<a href="/comment/{{renderOnePost.comment.id}}" class="text-decoration-none">
<div class="container rounded  p-5 my-5 bg-secondary text-white">
    <h1>{{userID}}</h1>
    <p>{{commentBody}}</p>
    <p>Posted by {{user.username}} on {{createdAt}}</p>
    <p>Click on comment to edit or delete</p>
</div>
</a>