<div class="container pt-3">
    <div class="jumbotron rounded bg-dark text-light text-center">
      <h1>Sobczyk's Tech Blog</h1>
      <p>Drop a comment on something tech related.</p>
    </div>

    <div class="container pt-3">
        <div class="row">
          <div class="col text-center pt-33">
            <a class="btn btn-dark" href="/signup">Sign Up</a>
            <a class="btn btn-dark" href="/login">Login</a>
          </div>
        </div>
      </div>

{{#each posts as |post|}}
<a href="/post/{{post.id}}" class="text-decoration-none">
<div id="post{{post.id}}" class="container rounded  p-5 my-5 bg-dark text-white">
    <h1>{{post.postTitle}}</h1>
    <h2>{{post.postBody}}</h2>    
    <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
    <p class="text-small">Click anywhere on post to view comments and leave a comment</p>
</div> 
</a>
{{/each}}
</div>
