
<div class="container pt-3">
   <div id="post{{renderOnePost.id}}" class="container rounded  p-5 my-5 bg-dark text-white">
    <h1>{{renderOnePost.postTitle}}</h1>
    <h2>{{renderOnePost.postBody}}</h2>    
    <p>Posted by {{renderOnePost.user.username}} on {{renderOnePost.createdAt}}</p>
    <p id="specificId" class="d-none">{{renderOnePost.id}}</p>
    <a href="/api/posts/{{renderOnePost.id}}" class="btn btn-dark">Edit Post</a>
    <button id="deletePost" class="btn btn-dark">Delete Post</button>
    </div> 
</div>

<script src="/js/myOnePost.js"></script>