
<div class="container pt-3">
   <div id="post{{renderOnePost.id}}" class="container rounded  p-5 my-5 bg-dark text-white">
    <h1>{{renderOnePost.postTitle}}</h1>
    <h2>{{renderOnePost.postBody}}</h2>    
    <p>Posted by {{renderOnePost.user.username}} on {{renderOnePost.createdAt}}</p>
    <p id="specificId" class="d-none">{{renderOnePost.id}}</p>
    </div> 
</div>

{{#if logged_in}}
{{>addcomment}}

{{#each renderOnePost.comments as |comment|}}
{{> commentcontainer}}
{{/each}}


<script src="/js/addcomment.js"></script>
<script src="/js/editComment.js"></script>

{{else}}

{{#each renderOnePost.comments as |comment|}}
{{> commentcontainer}}
{{/each}}

{{/if}}


